[alias]
	hold = branch hold
	message = log -1 --format=%B
    tree = log --graph --pretty=oneline --abbrev-commit --decorate
    wip = commit -am WIP
[color]
    ui = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
    # This is a hack to reduce diff tabstop from 8 to 4
    pager = less -x1,5
[push]
    default = upstream
[include]
    # User preferences in a separate file for better modularity
    path = .gituser
[pull]
    ff = only
