# Typical temporary files
*~
*.swp
*.swo

# Volatile
.bash_history
.bash_logout
.ccache
.config
.gituser
.gnome
.java
.lesshst
.local
.mono
.npm
.pki
.purple
.recently-used
.subversion
.snmp
.thumbnails
.thunderbird
.viminfo
.vim/.netrwhist
.xmonad
.xscreensaver
.Xauthority

# Security
.credentials
.ssh

# Home Folders
Downloads
work

# Development
.project
.cproject
.settings

.idea
