"*":
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  "build-cmake": {}
  core:
    packagesWithKeymapsDisabled: [
      "move-panes"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 13
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "ad98ca0c-e4e1-488a-b082-86f1dbf2f481"
  minimap: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#4444dd"
      zBright:
        brightBlue: "#5555ff"
    core:
      workingDirectory: "Active File"
    style:
      fontSize: "13"
      theme: "pro"
    toggles:
      autoClose: true
      selectToCopy: false
  "proto-repl": {}
  "terminal-plus":
    core: {}
    toggles:
      autoClose: true
      cursorBlink: false
      runInsertedText: false
".clojure.source":
  editor:
    tabLength: 2
